<div class="item" {{action "editTask" on="doubleClick"}}>
    {{#if isEditing}}
        <div class="ui large fluid input">
            {{edit-task class="edit" value=title focus-out="acceptChanges" insert-newline="acceptChanges"}}
        </div>
    {{else}}
        <div class="right floated">
            <i class="edit sign link icon" {{action "editTask"}}></i>
            <i class="remove sign link icon" {{action "removeTodo"}}></i>
        </div>
        <i class="empty checkbox link icon" {{action "markAsCompleted"}}></i>
        <div class="content">
            <div {{bind-attr class="isCompleted:completed :header"}}>{{title}}</div>
            <div class="description">
                {{#if tags}}
                    <i class="tags icon"></i>{{tags}}
                {{else}}
                    &nbsp;
                {{/if}}
            </div>
        </div>
    {{/if}}
</div>